body{
    margin: 0px;
    background : rgb(214, 214, 214);
    overflow: hidden;   
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Charts{
    width: 600px;
}

#inputs{
    margin:0px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px double #0a0a0a;
    position: relative;
    background:rgba(106, 95, 95, 0.35);
}

#inputs #label{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#input .display{
    background-color : white;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px 7px 5px;

}
button:hover{
    background-color: antiquewhite;
}

.slider{
    -webkit-appearance: none;
    height : 7px;
    outline : none;
    border-radius: 3px;
    margin: 10px;
}
.slider::-webkit-slider-thumb{
    /* -webkit-appearance: none; */
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
}

#networkCanvas{
    background-color: black;
}

#carCanvas{
    background-color: rgb(231, 231, 231);
}

#scoreChart{
    background-color: rgb(123, 85, 85);
    border: 2px solid #0a0a0a;
<<<<<<< Updated upstream
=======
    color: rgb(81, 175, 120);
}
#bestBrainCanvas{
    /* position: absolute; */

>>>>>>> Stashed changes
}